@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #fff;
  background-size: cover;
  background-repeat: repeat-y;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
